<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chat_application">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Deprecated in API 29+ -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Application Block -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Bubble"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/defaultTheme"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activities -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".ChatRoomActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".NotificationActivity" android:exported="true" />
        <activity android:name=".EditProfileActivity" android:exported="true" />
        <activity android:name=".SettingsActivity" android:exported="true" />
        <activity android:name=".StoryListActivity" android:exported="true" />
        <activity android:name=".ViewStoryActivity" android:exported="true" />
        <activity android:name=".AddNewStoryActivity" android:exported="true" />
        <activity android:name=".AddNewChatActivity" android:exported="true" />
        <activity android:name=".UserProfileActivity" android:exported="true" />
        <activity android:name=".ChatWallpaperActivity" android:exported="true" />
        <activity android:name=".HelpActivity" android:exported="true" />
        <activity android:name=".InviteFriendsActivity" android:exported="true" />
        <activity android:name=".AboutActivity" android:exported="true" />
        <activity android:name=".ImageViewActivity" />
        <!-- Account Settings Activity -->
        <activity android:name=".AccountSettingsActivity" android:exported="true" />
        <activity android:name=".AddNewGroupActivity" android:exported="true" />
        <activity android:name=".GroupProfileActivity" android:exported="true" />


    </application>

</manifest>
